#!/bin/bash                   # Included so we get syntax highlights in emacs #
#=============================================================================#
#                                                                             #
# PURPOSE:  Configuration file to drive the calibration and flagging script   #
#           of the ATCA data reduction pipeline.                              #
#                                                                             #
#           Config file for day 2010-12-21 5500                               #
#                                                                             #
# MODIFIED: 05-Jan-2017 by cpurcell                                           #
#                                                                             #
#=============================================================================#

# Flag the TURN scans at the end of each scan row.
uvflag.onindex='select=source(t*)'

# Examples of FLAG commands to be run at the start of the calObsDay.py script
# FLAG commands to be applied at start of calObsDay.py script
#uvflag.precal='select=time(12NOV16:06:02:14.9,12NOV16:06:02:14.9)'
#uvflag.precal=select=source(cacal1253)
#uvflag.precal=select=time(04jul02:10:44:50,04jul02:13:51:14),antennae(1)

# Flag known bad channels due to RFI in all data
#uvflag.precal='line=chan,4,861'
#uvflag.precal='line=chan,2,882'
#uvflag.precal='line=chan,9,891'
#uvflag.precal='line=chan,4,971'
#uvflag.precal='line=chan,7,1017'
#uvflag.precal='line=chan,31,1206'
#uvflag.precal='line=chan,14,1426'
#uvflag.precal='line=chan,3,1634'
#uvflag.precal='line=chan,7,1646'
#uvflag.precal='line=chan,35,1838'
#uvflag.precal='line=chan,210,1838'

# Pseudo rest frequency (in GHz)
restfreq=5.500

#--------------------------- Calibration parameters --------------------------#

# Calibrator names (comma-delimited list for phase_cals if N > 1)
fluxcal=1934-638
bpcal=1934-638
phasecals=1714-397
testcal=0823-500

# General calibration parameters
refant=3
nfbin=8

# Bandpass calibration
intervalBP=0.3
nfbinBP=4

# Gains-vs-time calibration
intervalGC=2.5                 # Time interval (min) for gain calibration

# Flux calibration
intervalFC=0.3

# FLAGPAR:
# [1             2            3          4      5           6     7      ]
# [thresh_sigma, convol_chan, conv_time, niter, nPtsSquare, dust, extend%]
# [10            30            1         20     3           2     20     ] Jamie yx xy
# [15             3           10          3     3           3     20     ] Me1
# [15             0           30          3     5           3     20     ] Me2
# [15            30            1         10     3           3     20     ] Me3
# [15            30           5         10     3           3     20     ] BEST


# Apply pre-calibration flagging to the bandpass calibrator
pgflag.bpcal1='stokes=xx,yy,yx,xy options=nodisp command=<bbb flagpar=15,30,5,10,3,3,20'
pgflag.bpcal1='stokes=xx,yy,xy,yx options=nodisp command=<bbb flagpar=15,30,5,10,3,3,20'

# Apply pre-calibration flagging to the phase calibrator(s)
pgflag.phcal1='stokes=xx,yy,yx,xy options=nodisp command=<bbb flagpar=15,30,5,10,3,3,20'
pgflag.phcal1='stokes=xx,yy,xy,yx options=nodisp command=<bbb flagpar=15,30,5,10,3,3,20'

# Apply pre-calibration flagging to the flux calibrator(s)
pgflag.fluxcal1='stokes=xx,yy,yx,xy options=nodisp command=<bbb flagpar=15,30,5,10,3,3,20'
pgflag.fluxcal1='stokes=xx,yy,xy,yx options=nodisp command=<bbb flagpar=15,30,5,10,3,3,20'

# Apply post-calibration flagging to the bandpass calibrator
pgflag.bpcal2='stokes=xx,yy,yx,xy options=nodisp command=<bbb flagpar=12,30,5,10,3,3,20'
pgflag.bpcal2='stokes=xx,yy,xy,yx options=nodisp command=<bbb flagpar=12,30,5,10,3,3,20'

# Apply post-calibration flagging to the phase calibrator(s)
pgflag.phcal2='stokes=xx,yy,yx,xy options=nodisp command=<bbb flagpar=12,30,5,10,3,3,20'
pgflag.phcal2='stokes=xx,yy,xy,yx options=nodisp command=<bbb flagpar=12,30,5,10,3,3,20'

# Apply post-calibration flagging to the flux calibrator(s)
pgflag.fluxcal2='stokes=xx,yy,yx,xy options=nodisp command=<bbb flagpar=12,30,5,10,3,3,20'
pgflag.fluxcal2='stokes=xx,yy,xy,yx options=nodisp command=<bbb flagpar=12,30,5,10,3,3,20'

# Flagging commands to apply to each calibrated pointing as it is split out
pgflag.onsplit='stokes=xx,yy,yx,xy options=nodisp command=<bbb flagpar=15,30,5,10,3,3,20'
pgflag.onsplit='stokes=xx,yy,xy,yx options=nodisp command=<bbb flagpar=15,30,5,10,3,3,20'
