#!/bin/bash                   # Included so we get syntax highlights in emacs #
#=============================================================================#
#                                                                             #
# PURPOSE:  Configuration file to drive the MIRIAD imaging scripts for the    #
#           ATCA data reduction pipeline.                                     #
#                                                                             #
# MODIFIED: 05-Jan-2017 by cpurcell                                           #
#                                                                             #
#=============================================================================#

# Number of channels processed when imaging
nchanImg=1

# Imaging parameters (fov required, leave others at '0.0' for auto)
fov_FWHM=1.5                               # Field of view in beam FWHMs
cellsize_asec=0.3                          # Pixel scale
robust=0.5                                 # Briggs robustness parameter
beam=1.5 1.5 0.0                           # Beam maj, min, pa in arcsec

# Cleaning parameters
niter=20000                                # Maximum no. of CLEAN iterations
gain=0.1                                   # Clean loop gain
rms_mult=2.0                               # Clean down to RMSv x rms_mult
minpatch=1023
speed=-1

# Flagging commands to be done pre imaging
#pgflag.preimg='stokes=xx,yy,yx,xy options=nodisp command=<b flagpar=15,30,0,3,5,3,20'
#pgflag.preimg='stokes=xx,yy,xy,yx options=nodisp command=<b flagpar=15,30,0,3,5,3,20'
#pgflag.preimg='stokes=yy,xy,yx,xx options=nodisp command=<b flagpar=15,30,0,3,5,3,20'
#pgflag.preimg='stokes=xx,xy,yx,yy options=nodisp command=<b flagpar=15,30,0,3,5,3,20'
#uvflag.preimg='select=antenna(6)'
